.chat-page{

display:grid;

grid-template-columns:300px 1fr;

height:calc(100vh - 40px);

gap:25px;

padding:20px;

}

.chat-main{

display:flex;

flex-direction:column;

height:100%;

}

@media(max-width:1000px){

.chat-page{

grid-template-columns:1fr;

}

}