.collection-card{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:18px;

    background:#111827;

    border:1px solid rgba(139,92,246,.28);

    border-radius:20px;

    box-shadow:
        0 0 0 rgba(139,92,246,0),
        0 8px 30px rgba(0,0,0,.25);

    transition:all .3s ease;

    cursor:pointer;

    margin-bottom:14px;

}

.collection-card:hover{

    border-color:#8B5CF6;

    box-shadow:
        0 0 25px rgba(139,92,246,.30),
        0 12px 35px rgba(139,92,246,.12);

    transform:translateY(-3px);

}

.collection-top{

    display:flex;

    align-items:center;

    gap:16px;

    flex:1;

}

.collection-icon{

    width:54px;

    height:54px;

    border-radius:16px;

    display:flex;

    align-items:center;

    justify-content:center;

    background:linear-gradient(135deg,#8B5CF6,#6D28D9);

    color:#fff;

    flex-shrink:0;

    box-shadow:0 0 18px rgba(139,92,246,.35);

}

.collection-top h3{

    margin:0;

    font-size:16px;

    font-weight:700;

    color:#fff;

}

.collection-top p{

    margin-top:5px;

    color:#94A3B8;

    font-size:13px;

}

.delete-btn{

    width:42px;

    height:42px;

    border:none;

    border-radius:12px;

    display:flex;

    align-items:center;

    justify-content:center;

    background:#1E293B;

    color:#CBD5E1;

    cursor:pointer;

    transition:.25s;

}

.delete-btn:hover{

    background:#EF4444;

    color:#fff;

    transform:scale(1.08);

}