.collection-card{

    background:#111827;

    border:1px solid rgba(255,255,255,.08);

    border-radius:18px;

    padding:22px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    transition:.3s;

}

.collection-card:hover{

    transform:translateY(-6px);

    box-shadow:0 15px 30px rgba(0,0,0,.35);

}

.collection-top{

    display:flex;

    gap:18px;

    align-items:center;

    cursor:pointer;

}

.collection-icon{

    width:55px;

    height:55px;

    border-radius:14px;

    background:#8b5cf6;

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

}

.collection-card h3{

    color:white;

}

.collection-card p{

    color:#94a3b8;

    margin-top:4px;

}

.delete-btn{

    border:none;

    background:none;

    color:#ef4444;

    cursor:pointer;

}