.collection-page{

    padding:30px;

}

.collection-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:30px;

}

.collection-header h1{

    color:white;

    font-size:34px;

}

.collection-header p{

    color:#94a3b8;

}

.new-btn{

    background:#8b5cf6;

    color:white;

    border:none;

    padding:14px 24px;

    border-radius:12px;

    cursor:pointer;

    font-weight:600;

}