.modal-overlay{

    position:fixed;

    inset:0;

    background:rgba(0,0,0,.6);

    display:flex;

    justify-content:center;

    align-items:center;

}

.modal-box{

    width:420px;

    background:#111827;

    padding:30px;

    border-radius:18px;

}

.modal-box h2{

    color:white;

    margin-bottom:20px;

}

.modal-box input{

    width:100%;

    padding:14px;

    border-radius:10px;

    border:none;

    background:#1f2937;

    color:white;

}

.modal-actions{

    margin-top:25px;

    display:flex;

    justify-content:flex-end;

    gap:12px;

}

.cancel-btn,.create-btn{

    padding:12px 20px;

    border:none;

    border-radius:10px;

    cursor:pointer;

}

.create-btn{

    background:#8b5cf6;

    color:white;

}