.navbar{

height:80px;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 35px;

background:#111827;

border-bottom:1px solid rgba(255,255,255,.05);

position:sticky;

top:0;

z-index:100;

}

.navbar-left{

display:flex;

align-items:center;

gap:20px;

}

.nav-icon{

width:45px;

height:45px;

border:none;

background:#1F2937;

border-radius:14px;

color:white;

cursor:pointer;

transition:.3s;

}

.nav-icon:hover{

background:#7C3AED;

}

.search-box{

display:flex;

align-items:center;

gap:12px;

background:#1F2937;

padding:0 20px;

height:50px;

border-radius:16px;

width:420px;

}

.search-box input{

background:none;

border:none;

outline:none;

color:white;

width:100%;

font-size:15px;

}

.search-box svg{

color:#94A3B8;

}

.navbar-right{

display:flex;

align-items:center;

gap:16px;

}

.save-btn{

height:48px;

padding:0 24px;

border:none;

border-radius:14px;

background:linear-gradient(135deg,#7C3AED,#A855F7);

color:white;

font-weight:600;

display:flex;

align-items:center;

gap:10px;

cursor:pointer;

}

.save-btn:hover{

opacity:.95;

}

.profile-box{

display:flex;

align-items:center;

gap:12px;

margin-left:8px;

}

.avatar{

width:48px;

height:48px;

border-radius:50%;

background:#8B5CF6;

display:flex;

justify-content:center;

align-items:center;

font-size:18px;

font-weight:bold;

color:white;

}

.profile-box h4{

color:white;

font-size:15px;

}

.profile-box span{

font-size:12px;

color:#94A3B8;

}

@media(max-width:900px){

.search-box{

display:none;

}

.profile-box div:last-child{

display:none;

}

.save-btn{

padding:0 16px;

}

}