.navbar{

height:80px;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 24px;

background:#111827;

border-bottom:1px solid rgba(255,255,255,.05);

position:sticky;

top:0;

z-index:100;

}

.navbar-left{

display:flex;

align-items:center;

gap:18px;

}

.search-box{

width:340px;

height:48px;

display:flex;

align-items:center;

padding:0 18px;

background:#1F2937;

border-radius:14px;

gap:12px;

}

.search-box input{

width:100%;

background:none;

border:none;

outline:none;

color:white;

}

.search-box svg{

color:#94A3B8;

}

.navbar-right{

display:flex;

align-items:center;

gap:14px;

}

.nav-icon{

width:42px;

height:42px;

border:none;

border-radius:12px;

background:#1F2937;

color:white;

cursor:pointer;

}

.nav-icon:hover{

background:#8B5CF6;

}

.save-btn{

height:46px;

padding:0 18px;

display:flex;

align-items:center;

gap:8px;

border:none;

border-radius:12px;

background:linear-gradient(135deg,#8B5CF6,#2563EB);

color:white;

font-weight:600;

cursor:pointer;

}

.profile-box{

display:flex;

align-items:center;

gap:10px;

}

.avatar{

width:40px;

height:40px;

border-radius:50%;

background:#8B5CF6;

display:flex;

align-items:center;

justify-content:center;

color:white;

font-weight:bold;

}

.profile-box h4{

margin:0;

font-size:14px;

color:white;

}

.profile-box span{

font-size:12px;

color:#94A3B8;

}

@media(max-width:900px){

.search-box{

display:none;

}

.profile-box div{

display:none;

}

}