.sidebar{

width:250px;
height:100vh;

position:sticky;
top:0;

background:#0F172A;

border-right:1px solid rgba(255,255,255,.05);

display:flex;
flex-direction:column;

padding:22px 16px;

transition:.35s;

overflow:hidden;

}

.sidebar.collapsed{

width:82px;

}

.sidebar-top{

display:flex;
align-items:center;
justify-content:space-between;

margin-bottom:40px;

}

.logo-section{

display:flex;
align-items:center;
gap:12px;

}

.sidebar-logo{

width:36px;
height:36px;

object-fit:contain;

background:white;

padding:5px;

border-radius:10px;

flex-shrink:0;

}

.logo-section h2{

color:white;

font-size:18px;

margin:0;

}

.logo-section p{

color:#94A3B8;

font-size:11px;

margin-top:2px;

}

.collapse-btn{

width:38px;
height:38px;

border:none;

background:#1E293B;

color:white;

border-radius:10px;

cursor:pointer;

transition:.3s;

}

.collapse-btn:hover{

background:#8B5CF6;

}

.menu-group{

display:flex;

flex-direction:column;

gap:8px;

}

.menu-item{

display:flex;

align-items:center;

gap:14px;

padding:12px 14px;

border-radius:14px;

text-decoration:none;

color:#CBD5E1;

transition:.25s;

}

.menu-item:hover{

background:#1E293B;

transform:translateX(4px);

}

.menu-item.active{

background:linear-gradient(
135deg,
rgba(139,92,246,.25),
rgba(37,99,235,.15)
);

color:white;

}

.menu-icon{

width:34px;
height:34px;

display:flex;

align-items:center;

justify-content:center;

background:#1E293B;

border-radius:10px;

}

.menu-item.active .menu-icon{

background:#8B5CF6;

color:white;

}

.sidebar.collapsed span,
.sidebar.collapsed h2,
.sidebar.collapsed p{

display:none;

}

.sidebar.collapsed .menu-item{

justify-content:center;

padding:12px 0;

}