.collections-card{

    background:#111827;

    border:1px solid rgba(139,92,246,.28);

    border-radius:22px;

    padding:22px;

    box-shadow:
        0 0 24px rgba(139,92,246,.10);

    transition:.3s ease;

}

.collections-card:hover{

    border-color:#8B5CF6;

    box-shadow:
        0 0 32px rgba(139,92,246,.28);

}

.card-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:18px;

}

.card-header h3{

    margin:0;

    color:#fff;

    font-size:20px;

    font-weight:700;

}

.collections-card p{

    color:#94A3B8;

    font-size:14px;

}

.collection-item{

    display:flex;

    align-items:center;

    justify-content:space-between;

    background:#0F172A;

    border-radius:16px;

    padding:15px 18px;

    margin-bottom:12px;

    transition:.25s;

}

.collection-item:last-child{

    margin-bottom:0;

}

.collection-item:hover{

    background:#1E293B;

    transform:translateX(4px);

}

.collection-item h4{

    margin:0;

    color:#fff;

    font-size:15px;

    font-weight:600;

}