.blob{

position:fixed;

border-radius:50%;

filter:blur(120px);

opacity:.18;

z-index:-1;

animation:float 16s infinite alternate ease-in-out;

}

.blob1{

width:450px;

height:450px;

background:#8B5CF6;

top:-120px;

left:-120px;

}

.blob2{

width:380px;

height:380px;

background:#2563EB;

bottom:-120px;

right:-80px;

animation-delay:3s;

}

.blob3{

width:260px;

height:260px;

background:#06B6D4;

top:40%;

left:40%;

animation-delay:6s;

}

@keyframes float{

from{

transform:translateY(-40px) translateX(-30px);

}

to{

transform:translateY(60px) translateX(60px);

}

}