.signup-page{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#09090B;
}

.signup-card{
    width:430px;
    background:#18181B;
    border:1px solid #27272A;
    border-radius:24px;
    padding:50px;
}

.signup-card h1{
    color:white;
    margin-bottom:10px;
}

.signup-card p{
    color:#9CA3AF;
}